body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.square {
  vertical-align: top;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.letterTile {
  display: inline-block;
  padding-left: 3rem;
  background-color: rgb(194, 215, 244);
  margin: 1rem;
  width: 10rem;
  height: 10rem;
  border: 1px solid rgb(41, 41, 41);
}

.row:nth-child(2n+2) .square:nth-child(2n+1) {
  background-color: rgb(148, 237, 221);
}

.row:nth-child(2n+2) .square:nth-child(2n+2) {
  background-color: rgb(244, 152, 229);
}

/*.square:nth-child(2n+1) {
  background-color: rgb(244, 152, 229);
}*/
